body {
    background-color: #f0f0f0; /* Replace with your desired color */
}

.nav-bar {
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid #000; 
}

nav a {
    color: black;
}

.active-language {
    font-weight: bold;
    color: #000307; /* O cualquier color que prefieras */
}
 .row { 
     display: flex; 
     flex-wrap: wrap; 
     justify-content: space-between; 
 } 

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: calc(50% - 20px); /* Adjust the width as needed */
    margin: 10px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

 .content { 
     flex-grow: 1; 
     display: flex; 
     flex-direction: column; 
     justify-content: flex-end; 
     margin-top: auto; 
} 

.product img {
    max-width: 100%; /* Asegura que la imagen no exceda el contenedor */
    height: auto;
}
.order-options button {
    margin-top: 10px;
}

.form-group {
    display: flex;
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    margin-bottom: 10px;
}

.form-group label {
    margin-bottom: 5px; /* Espacio entre el label y el input */
}

.form-group input,
.form-group select {
    width: 100%; /* Ocupa todo el ancho disponible */
}

#cart-message {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position within the viewport */
    bottom: 10px; /* Positioned towards the bottom of the page */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontal centering */
    background-color: #ffffff; /* Background color */
    padding: 12px 20px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: adds shadow for depth */
    z-index: 1000; /* Make sure it's above other content */
    transition: bottom 0.3s, opacity 0.3s; /* Smooth transition for appearing and disappearing */
}

.cart-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin-bottom: 10px;
}

.total {
    font-weight: bold;
    color: #000; /* Optional: change color to make it stand out */
}
.subtotal {
    font-weight: bold;
    color: #000; /* Optional: change color to make it stand out */
}

#contact p {
    color: #000000; /* Or any color you prefer */
    opacity: 1; /* Ensures full opacity */
}

#products p{
    color: #000000; /* Or any color you prefer */
    opacity: 1; /* Ensures full opacity */
}

.info-label {
    font-weight: bold;
    display: inline-block;
    width: 80px; /* Adjust this width as needed */
    white-space: nowrap;
    margin-right: 100px;
}

.info-content {
    display: inline-block;
    flex-grow: 1;
}